@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "YS Text";
  font-display: swap;
  src: url("../fonts/text-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "YS Text";
  font-display: swap;
  src: url("../fonts/text-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "YS Text";
  font-display: swap;
  src: url("../fonts/text-black.woff") format("woff");
}
